* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding:10px 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
